@import '../../assets/global.css';

#input{
    background-color: var(--color1);
}

.field.has-addons{
    justify-content: center;
}

.field.has-addons .control:not(:last-child){
    width: 50%;
}

.input{
    height: 5vh;
    border: 1px solid var(--color3);
    border-right: none;
    background: var(--color2);
    color:var(--color3);
    border-radius: 0;
    border-top-left-radius: 1rem;
    transition: all .5s ease-in-out;
}
.input:hover,
.input:active,
.input:focus{
    color: var(--color2);
    background: var(--color1);
    border-color: var(--color3) !important;
}
#search-button{
    height: 5vh;
    width: 5vw;
}
.button.is-info{
    background: var(--color2);
    border: 1px solid var(--color3) !important;
    border-left: none;
    color: var(--color3);
    border-radius: 0;
    border-bottom-right-radius: 1rem;
    transition: background-color .5s, color .5s;
}
.button.is-info:hover{
    background-color: var(--color1);
    color: var(--color3);
}
.button.is-info:disabled{
    opacity:.5;
    background: var(--color1) !important;
}

.results{
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--color2);
    transition: all .5s;
}
.results span{
    margin-right: .75rem;
}
.results strong span{
    color: var(--color3);
    margin-left: .75rem;
}
.results-flex{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--color2);
    transition: all .5s;
}
.results-flex span{
    margin-right: .75rem;
}
.results-flex strong span{
    color: var(--color3);
    margin-left: .75rem;
}
.length-transition{
    padding-right: .5rem;
}
.go-back{
    cursor: pointer;
    margin-top:.5rem;
    margin-left: 1.4rem;
    font-size: 1.5rem;
    transition: color .5s;
}
.go-back:hover{
    color: var(--color3);
}

/* End input */